extends layout 

block content 
  h1(style="margin-bottom: 1rem;") #{title} 

  form(method="post")
    div.form-group 
      label(for='cat_title') Category Name: 
      input#cat_title.form-control(type='text', placeholder="Fapple Device Category" name='cat_title' required value=(undefined===category ? '' : category.title))
    div.form-group 
      label(for="cat_description") Description: 
      textarea#cat_description.form-control(name='cat_description' placeholder="Description of Category" required)= undefined===category ? '' : category.description
    div.form-group
      label(for='cat_image') Image URL:
      input#cat_image.form-control(type='text', placeholder='URL of image' name='cat_image' required value=(undefined===category ? '' : category.image))
    if updateState 
      div.form-group  
        label(for="password") Update Security Check:
        input#password.form-control.password-input(type="password", name="password", placeholder="Enter Authentication Password")
        if errMsg 
          p.text-danger #{errMsg}
    div.form-button-container
      button.btn.btn-primary(type="submit") Submit 

  if errors 
    ul 
      for error in errors 
        li!= error.msg