extends layout

block content
  div.home-page-container
    div.home-header
      h1= title
    div.home-summary  
      h5 We have a variety of the newest and best tech devices for you to choose from.

    div.main-content-container 
      div.main-content-item
        a(class="main-content-item-tag" href="/catalog/categories") 
          img(class="main-content-image" src='/images/fapple-categories.png', alt="Categories box cover")
          h4(class="main-content-item-title") Categories
          span(class="main-content-item-count") Inventory: !{category_count}
      div.main-content-item
        a(class="main-content-item-tag" href="/catalog/items")
          img(class="main-content-image" src='/images/fapple-items.png', alt="Items box cover")
          h4(class="main-content-item-title") Items
          span(class="main-content-item-count") Inventory: !{item_count}
