a{
  color: black;
}

a:hover {
  text-decoration: none;
}
.container-fluid {
  height: 100vh;
  width: 100vw;
  padding: 0;
}

.row {
  height: 100%;
}

.col-sm-2 {
  padding-left: 0;
}

.col-sm-10 {
  padding: 2rem;
}

.sidebar-nav {
  padding: 1.5rem;
  margin: 0;
  list-style: none;
  background-color: rgb(0, 0, 0);
  height: 100%;
  color: whitesmoke;
}

.sidebar-nav-link {
  color: whitesmoke;
}

.sidebar-nav-link:hover {
  text-decoration: none;
  color: rgb(0, 149, 255);
}

/* HOME PAGE */

.home-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-header {

}

.main-content-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 12rem;
  width: 100%;
}

.main-content-item {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 153, 255);
  height: 100%;
}

/* CATEGORIES LIST PAGE */

/* CATEGORY DISPLAY PAGE */

/* ITEMS LIST PAGE */

/* ITEM DISPLAY PAGE */

/* CATEGORY FORM PAGE */

/* ITEM FORM PAGE */

/* CATEGORY DELETE PAGE */

/* ITEM DELETE PAGE */